<p>
Tempe High School Students WERE HERE!
</p>
<p>
"state=false"
</p>
<p>
<a href=”http;//”onmouseover=”altert(1);”>...</a>
</p>
<p>
<a href=”http;//”onmouseover=”alert(1);”>...</a>
</p>
<p>
<a href=”http;//”onmouseover=”altert(1);”>...</a>
</p>
<p>
drop TABLE users
</p>
<p>
"drop TABLE users
</p>
<p>
">
</p>
<p>
">drop TABLE users
</p>
<p>
<script>var token = ‘user input here’; </script>
</p>
<p>
<script>var token = ‘user input here’; </script>
</p>
<p>
“><h1>test<h1>
</p>
<p>
drop TABLE users;
</p>
<p>
">
</p>
<p>
-- DROP users;--
</p>
<p>
DROP users;
</p>
<p>
DROP users;
</p>
<p>
105; DROP TABLE users
</p>
<p>
; Drop TABLE users;
</p>
<p>
--
</p>
<p>
--
</p>
<p>
-- DROP table users;--
</p>
<p>
/*Comment Here*/
</p>
<p>
asd
</p>
<p>
asd
</p>
<p>
a
</p>
<p>
a
</p>
<p>
ZAP
</p>
<p>
c:/Windows/system.ini
</p>
<p>
../../../../../../../../../../../../../../../../Windows/system.ini
</p>
<p>
c:\Windows\system.ini
</p>
<p>
..\..\..\..\..\..\..\..\..\..\..\..\..\..\..\..\Windows\system.ini
</p>
<p>
/etc/passwd
</p>
<p>
../../../../../../../../../../../../../../../../etc/passwd
</p>
<p>
/
</p>
<p>
../../../../../../../../../../../../../../../../
</p>
<p>
c:/
</p>
<p>
c:\
</p>
<p>
WEB-INF/web.xml
</p>
<p>
WEB-INF\web.xml
</p>
<p>
/WEB-INF/web.xml
</p>
<p>
\WEB-INF\web.xml
</p>
<p>
thishouldnotexistandhopefullyitwillnot
</p>
<p>
http://www.google.com/
</p>
<p>
http://www.google.com:80/
</p>
<p>
http://www.google.com
</p>
<p>
http://www.google.com/search?q=ZAP
</p>
<p>
http://www.google.com:80/search?q=ZAP
</p>
<p>
www.google.com/
</p>
<p>
www.google.com:80/
</p>
<p>
www.google.com
</p>
<p>
www.google.com/search?q=ZAP
</p>
<p>
www.google.com:80/search?q=ZAP
</p>
<p>
2145892146392088659.owasp.org
</p>
<p>
http://2145892146392088659.owasp.org
</p>
<p>
https://2145892146392088659.owasp.org
</p>
<p>
https://2145892146392088659%2eowasp%2eorg
</p>
<p>
http://\2145892146392088659.owasp.org
</p>
<p>
https://\2145892146392088659.owasp.org
</p>
<p>
//2145892146392088659.owasp.org
</p>
