<html>
  <body>
    <h1>Welcome Enable 2FA {{ value }}!</h1>
    <h1>Scan this QR Code with Google Authenticator</h1>
    <img src="data:image/png;base64,{{ qr_code }}" method="post" />

    <form action="/enable_2fa.html" method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

      <label for="otp">Enter the OTP from your app:</label><br />
      <input type="text" id="otp" name="otp" />
      <br />
      <input type="submit" value="Enable 2FA" />
    </form>
  </body>
</html>
