{% extends 'template.html' %} {% block content %}
<section class="u-clearfix u-section-1" id="block-6">
  <div
    class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-sheet-1"
  >
    <div
      class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1"
    >
      <div class="u-layout">
        <div class="u-layout-row">
          <div
            class="u-container-align-center u-container-style u-layout-cell u-size-15 u-layout-cell-1"
          >
            <div
              class="u-container-layout u-valign-bottom u-container-layout-1"
            >
              <div
                class="u-container-style u-expanded-width u-group u-white u-group-1"
              >
                <div class="u-container-layout u-container-layout-2">
                  <h3 class="u-text u-text-1">Announcements</h3>

                  <p class="u-text u-text-default u-text-2">
                    {% for announcement in announcements %}
                    {{announcement.message }}<br />
                    {% else %} No announcements to show.<br />
                    {% endfor %}
                  </p>
                </div>
              </div>

              <div
                class="u-container-style u-expanded-width u-group u-white u-group-2"
              >
                <div class="u-container-layout u-container-layout-3">
                  <h3 class="u-text u-text-default u-text-3">
                    Assignments<br />
                  </h3>
                  {% for assignment in assignments %}

                  <p class="u-text u-text-default u-text-4">
                    {{ assignment.title }}
                    <br />
                    Due: {{ assignment.due_date.strftime('%m-%d') }}
                  </p>

                  {% else %}
                  <p class="u-text u-text-default u-text-4">
                    No assignments available.
                  </p>
                  {% endfor %}
                  <a
                    href="{{ url_for('views.assignments') }}"
                    class="u-btn u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-btn-1"
                  >
                    See Details
                  </a>
                </div>
              </div>

              <div
                class="u-container-style u-expanded-width u-group u-white u-group-3"
              >
                <div class="u-container-layout u-container-layout-4">
                  <h3 class="u-text u-text-default u-text-5">
                    Tutorials<br />
                  </h3>
                  <p class="u-text u-text-default u-text-6">Coming Soon</p>
                  <a
                    href=""
                    class="u-btn u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-btn-2"
                    >See more
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div
            class="u-container-style u-layout-cell u-shape-rectangle u-size-45 u-layout-cell-2"
          >
            <div
              class="u-container-layout u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xs u-container-layout-5"
            >
              <h3 class="u-text u-text-default u-text-7">Questions</h3>
              <a
                href="{{ url_for('views.ask') }}"
                data-page-id="955523170"
                class="u-btn u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-btn-3"
                title="Ask Question"
                >Ask Question</a
              >
              {% include "partials/forum.html" %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="u-clearfix u-section-2" id="block-8">
  <div class="u-clearfix u-sheet u-sheet-1"></div>
</section>
{% endblock %}
