{% extends 'template.html' %} {% block content %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/reply.css') }}"
  media="screen"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/nicepage.css') }}"
  media="screen"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/Home.css') }}"
  media="screen"
/>
<section class="u-clearfix u-section-1" id="block-8">
  <div
    class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-sheet-1"
  >
    <div class="custom-expanded u-container-style u-grey-10 u-group u-group-1">
      <div class="u-container-layout u-container-layout-1">
        <h4 class="u-text u-text-default u-text-1">Assignment Title</h4>
        <a
          href=""
          class="u-btn u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-btn-1"
          >Upload File
        </a>
        <p class="u-text u-text-default u-text-2">
          Submission Status: Success/fail<br />
        </p>
        <p class="u-text u-text-default u-text-3">
          Congrats: All Tests Passed<br />Errors: dsafdsfas
        </p>
      </div>
    </div>
  </div>
</section>

{% endblock %}
